page-home {
    .dropbtn, .btnresultado{
        position: relative;
        margin: 0 auto;
        color: #3498DB;
        padding: 10px;
        font-size: 5vw;
        text-align: center;
        border: solid;
        border-radius: 16px 16px 16px 16px;
        border-color: dodgerblue;
        border-width: 3px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
    }
    .show {display:block;}

    
    .ativado {
     
    }
    .desativado{
        
    }
}