page-acao {

   /*.titulo{
        color: dodgerblue;
        font-size:5vw;
        text-transform: uppercase;
        font-weight: bold;
    }*/
    .texto{
        color: black;
        font-size:4vw;
    }
    .textodestacado{
        color: dodgerblue;
        text-transform: uppercase;
        font-weight: bold;
        font-size:4vw;

    }

}
