page-resultados {
    .card{
        background-color: rgb(231, 231, 231);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 0px 10px 10px 0px;
        border-left-style: solid;
        border-color: dodgerblue;
        border-width: 5px;
    }
    .conteudo{
        line-height: 0.4; 
    }
    .texto{
        color: black;
        font-size:4vw;
    }
    .textodestacado{
        color: dodgerblue;
        text-transform: uppercase;
        font-weight: bold;
        font-size:4vw;
    }
    .titulo {
        display: inline;
    }
    .show {display:none;}

}
