<!--
  Generated template for the ResultadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  <ion-title class="titulo">Resultados</ion-title>
    <ion-searchbar
                  *ngIf="isSearchbarOpened" 
                  showCancelButton="true"
                  (ionCancel)="isSearchbarOpened=false"
                  (search)="onSearch($event)"
                  placeholder="Faça sua busca"
                  clearInput>
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search" (click)="barrabusca()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card *ngFor="let projeto of projetos | async" class="card" (click)="irParaAcao(projeto)">
        <ion-card-content class="conteudo">
          <p class="texto"><b class="textodestacado">Ação:</b> {{projeto.nome}}</p><br>
          <p class="texto"><b class="textodestacado">Coordenador(es):</b> {{projeto.coordenador}}</p><br>
          <p class="texto"><b class="textodestacado">Localização:</b> {{projeto.pasta}}</p><br>
        </ion-card-content>
    </ion-card>
    

    
</ion-content>
